
repos:
#######
# ALL #
#######
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
    # Git style
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-vcs-permalinks
    - id: forbid-new-submodules
    - id: no-commit-to-branch

    # Common errors
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: check-executables-have-shebangs

    # Cross platform
    - id: check-case-conflict

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

#############
# TERRAFORM #
#############
- repo: git://github.com/antonbabenko/pre-commit-terraform
  rev: v1.30.0
  hooks:
    - id: terraform_fmt
    # - id: terraform_docs
    # - id: terraform_validate

##########
# PYTHON #
##########

- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.6.1
  hooks:
    - id: reorder-python-imports
      language_version: python3

- repo: https://github.com/asottile/add-trailing-comma
  rev: v1.4.1
  hooks:
    - id: add-trailing-comma
      language_version: python3

- repo: https://github.com/pre-commit/mirrors-autopep8
  rev: v1.4.4
  hooks:
    - id: autopep8
      language_version: python3

# - repo: https://github.com/pre-commit/mirrors-pylint
#   rev: v2.3.1
#   hooks:
#     - id: pylint
#       language_version: python3
